.container{
    padding: 32px 108px;
}
.flex{
    display: flex;
}

.opasity{
    color: #ADADAD;
    font-family: Estedad-Light;
    font-weight: 400;
    font-size: 10px;
}

.link{
        color: #ffffff;
        font-family: Estedad-Light;
        text-decoration: none;
    }