body{
    main{
        header{
            // Start nav codes
            nav{
                width: 100%;
                height: 115px;
                justify-content: center;
                align-items: center;
                gap: 54px;
                .box-icon{
                    gap: 8px;
                    svg{
                        width: 26px;
                        height: 26px;
                        background-color: #E5F2E9;
                        border-radius: 5px;
                    }
                }
                ul{                                 
                    justify-content: center;
                    align-items: center;
                    gap: 24px;
                    width: 100%;
                    li{
                        a{
                            text-decoration: none;
                            color: #717171;
                            font-family: Estedad-Light;
                        }
                        a:hover{
                             color: #23da60;
                        }
                    }
                    .home{
                        a{
                            font-size: 20px;
                            font-family: Estedad-SemiBold;
                            color: #417F56;
                        }           
                }
                .home{
                    a:hover{
                        color: #417F56;
                    }
                }
                }  
            }
            // End of nav codes




            // Start middle and menu codes
            .middle{    
            width: 100%;
                .food{
                        width: 100%;
                        height: 54%;
                        background-image: url(/images/Slider.png);
                        background-size: cover;
                        justify-content: center;
                        align-items: center;
                       .typeing{
                        height: 60%;
                        width: 50%;
                        justify-content: center;
                        align-items: end;                  
                        flex-wrap: wrap;
                        padding-left: 50px;
                        h1{
                        width: 80%;
                        color: #ffffff;
                        font-family: Estedad-SemiBold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        }
                        .food__box-food{
                            height: 30%;
                            justify-content: start;
                            align-items: center;
                            
                            .box-order{
                                width: 184px;
                                height: 40px;
                                background-color: #417F56;
                                justify-content: center;
                                align-items: center;
                                font-size: 16px;
                                font-family: Estedad-SemiBold;
                                border-radius: 8px;
                                a{
                                    color: #ffffff;
                                    text-decoration: none;
                                }
                            }
                        }
                       }
                   
                }
                }
                .type{
                    width: 100%;
                    height: 20%;
                    justify-content: center;
                    align-items: center;

                    h3{
                        color: #353535;
                        font-family: Estedad-SemiBold;
                    }
                }
                .menu{
                    height: 100%;     
                    width: 100%;               
                    justify-content: center;
                    align-items: center;
                    padding-top: 110px;
                    .including{
                        width: 100%;
                        height: 20%;
                        gap: 19px;
                        align-items: center;
                        justify-content: center;
                        
                    }
                    .box-food{
                        width: 295px;
                        height: 160px;
                        background-color: #417F56;
                        border-radius: 6px;
                        align-items: end;
                        padding-bottom: 30px;     
                        justify-content: center;             
                    }
                    
                .click{
                    width: 100%;
                    height: 20%;
                    justify-content: space-around;
                    align-items: end;
                    button{
                        width: 155px;
                        height: 48px;
                        border-radius: 4px;
                        border: none;
                        color: #353535;
                        font-size: 18px;
                        font-family: Estedad-Regular;
                    }
                        button:hover{
                            color: #417F56;
                        }
                        
        }
        .middle-images{   
            background-color: #23da60;
            height: 75%;   
            width: 100%; 
            background-image: url(/images/about.png);
            background-size: cover;  
            justify-content: start;    
            .about{
                width: 90%;
                height: 100%;
                justify-content: end; 
                align-items: center;
                .Property{
                    width: 55%;
                    height: 50%;
                    justify-content: start;
                    .Property__icon-box{
                        flex-wrap: wrap;
                        width: 40%;
                        justify-content: center;
                        gap: 30%;
                    }                  
                }
                .subject{
                    color: #ffffff;
                    width: 38%;
                    height: 80%;
                    justify-content: end;
                    align-items: end;
                    flex-wrap: wrap;
                    h3{
                        font-size: 20px;
                        font-family: Estedad-SemiBold;
                    }
                    p{
                        width: 100%;
                        font-size: 18px;
                        text-align: justify;
                        font-family: Estedad-Light;
                        direction: rtl !important;
                    }
                    .Description{
                        width: 100%;
                        .more-information{
                            width: 184px;
                            height: 40px;
                            border: 1px solid #FFF;
                            border-radius: 4px;
                            justify-content: center;
                            align-items: center;
                            font-family: Estedad-Regular;
                            gap: 5px;
                        }
                    }
                }
            }
    }
    }
        }



        
        // End of middle and menu codes




        //  The beginning of the last code



         .end{
            .walk{
                justify-content: center;
                align-items: end;
                height: 158;
                font-family: Estedad-SemiBold;
                h3{
                    color: #000000;
                    font-size: 24px
                }
            }
            .branches{
                height: 100%;
                justify-content: center;
                gap: 10px;
                align-items: start;
                .Inside{
                    height: 10%;
                    width: 285px;
                    background-size: cover;
                }
                 .box-branch{
                    width: 288px;
                    height: 344px;
                    border: 1px solid #CBCBCB;
                    font-size: 20px;
                    color: #353535;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: start;
                    border-radius: 4px ;
                    
                     img{
                        height: 230px;
                     }
                     h3{
                        color: #000000;
                        font-size: 20px;
                        font-family: Estedad-SemiBold;
                        
                     }
                     p{
                        width: 80%;
                        font-size: 14px;
                        font-family: Estedad-Regular;
                        text-align: center;
                     }
                 }
             }
         }



        // End of the last codes
    }
}

        