@font-face{
    src: url(/fonts/Estedad-Black.ttf);
    font-family: Estedad-Black;
}
@font-face{
    src: url(/fonts/Estedad-Bold.ttf);
    font-family: Estedad-Bold;
}
@font-face{
    src: url(/fonts/Estedad-ExtraBold.ttf);
    font-family: Estedad-ExtraBold;
}
@font-face{
    src: url(/fonts/Estedad-ExtraLight.ttf);
    font-family: Estedad-ExtraLight;
}
@font-face{
    src: url(/fonts/Estedad-Light.ttf);
    font-family: Estedad-Light;
}
@font-face{
    src: url(/fonts/Estedad-Medium.ttf);
    font-family: Estedad-Medium;
}
@font-face{
    src: url(/fonts/Estedad-Regular.ttf);
    font-family: Estedad-Regular;
}
@font-face{
    src: url(/fonts/Estedad-SemiBold.ttf);
    font-family: Estedad-SemiBold;
}
@font-face{
    src: url(/fonts/Estedad-Thin.ttf);
    font-family: Estedad-Thin;
}